.flex {
    display: flex;
}

.flex.spaced {
    justify-content: space-between;
}

.flex.column {
    flex-direction: column;
}

.flex .flex-1 {
    flex: 1 1 auto;
}

.justify-center {
    justify-content: center !important;
}

.text-center {
    text-align: center;
}

.url-list {
    max-width: 780px;
    margin: 0 auto;
}
.url-list li {
    padding: 10px 0;
}

.main-form {
    margin: 0 auto;
    width: 80%;
    max-width: 700px;
    padding: 5px 25px 20px;
    border: 1px solid #bbb;
    border-radius: 8px;
}

.form-group {
    margin: 15px 0 !important;
}

.help-block {
    padding-left: 10px;
    color: #888;
    font-size: small;
}

.navbar-nav .nav-link {
    margin: 0 50px;
}

.title-head {
    padding: 25px 0;
}

.warning-card button {
    margin: 35px;
}